<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
    <title>Statistic - VrijTap</title>
    <link rel="stylesheet" href="/static/css/owner.css">
</head>
<body>
    <!-- Title / Logo -->
    <div class="title">
        <div class="title-card">
            <h1 class="main-title">Statistics</h1>
            <h1 id="title-underline">-----------</h1>
        </div>
        <p class="introduction">Welcome to the Statistics<br>for {{.Name}}</p>
    </div>    

    <!-- Beer Meter -->
    <div class="body">
        <h2>Storage</h1>
        <div class="storage-info">
            <div class="bar-container">
                <div class="bar" style="height: 82%; top: 14%;"></div>
                <div class="bar-background"></div>
            </div>
        </div>
    </div>
</body>
</html>